.profile-container {
  width: 70rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(0,0,0,0.1);
  border-radius: 5rem;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 2rem 0rem 0rem 0rem;
}

.profile-header-left {
  display: flex;
}

.profile-picture {
  width: 10rem;
  height: 10rem;
  border-radius: 5rem;
  border: 2px solid var(--primary);
  margin-right: 2rem;
}

.profile-header-left-text {
  color: var(--secondary);
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}

.profile-name {
  font-family: 'Oswald', sans-serif;
  font-size: 36pt;
  line-height: 0;
  margin: 1rem 0rem 2rem 0rem;
}

.profile-subtext {
  font-style: italic;
  opacity: 0.8;
  margin: 0;
}

.profile-username {
  font-size: 16pt;
}

.rank-text {
  font-family: 'Oswald', sans-serif;
  font-size: 64pt;
  line-height: 0;
}

.profile-details {
  width: 100%;
  padding: 0rem 4rem;
  display: flex;
}

.profile-details-left {
  padding: 2rem;
  padding-top: 0;
  width: 50%;
  height: 100%;
}

.profile-block-header {
  text-align: center;
  font-size: 24pt;
  line-height: 0;
  margin-top: 4rem;
}

.profile-bio {
  color: var(--secondary);
  font-family: 'Source Code Pro', monospace;
  font-size: 16pt;
  font-style: italic;
  opacity: 0.8;
}

.profile-history {
  border: 1px solid var(--primary);
  border-radius: 3rem;
  padding: 2rem;

  max-height: 20rem;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.profile-history::-webkit-scrollbar {
  display: none;
}

.history-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-evenly;
  background: rgba(0,0,0,0.1);
  border-radius: 1rem;
  margin: 0.5rem 0rem;

  color: var(--secondary);
}

.profile-details-right {
  width: 50%;
  padding: 2rem;
  padding-top: 0;
}

#history-chart {
  width: 100%;
  height: 20rem;
}

.profile-stats {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  text-align: center;
}

.stat-name {
  font-size: 12pt;
  margin: 0px;
  line-height: 0;
}

.stat-val {
  margin: 0px;
  font-size: 32pt;
  color: var(--secondary);
}

